.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  border-bottom: 1px solid var(--color-text-white);
  box-shadow: var(--shadow-sm);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white-transparent);
  z-index: 1000;
  backdrop-filter: blur(3px);
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(-100%);

  @include respond(tablet) {
    padding: 0 3.2rem;
  }

  &__logo-box {
    width: 60px;
    height: auto;
    color: var(--color-text-white);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
  }

  &__logo {
    width: 100%;
  }

  &__nav {
    transition: all 0.4s;

    @include respond(phone-lg) {
      position: absolute;
      opacity: 0;
      min-height: calc(100vh - 80px);
      right: 0;
      z-index: 2000;
      top: 80px;
      background-color: var(--color-white-transparent);
      visibility: hidden;
      pointer-events: none;
    }
  }

  .nav__list {
    list-style: none;
    display: flex;
    gap: 4.8rem;

    @include respond(phone-lg) {
      flex-direction: column;
      padding: 2.4rem 1.6rem;
      display: none;
    }
  }

  .list-item {
    position: relative;

    &::after {
      content: "";
      height: 1.5px;
      background-color: var(--color-text-hover);
      position: absolute;
      left: 0;
      bottom: -0.5rem;
      width: 0;
      transform-origin: left;
      transition: all 0.3s;
    }

    &:hover::after,
    &:active::after {
      width: 100%;
    }
  }

  .nav__link {
    &:link,
    &:visited {
      font-size: 1.8rem;
      font-weight: 300;
      text-decoration: none;
      color: var(--color-text-primary);
      transition: all 0.3s;
      position: relative;
    }

    &:hover,
    &:active {
      color: var(--color-text-hover);
    }
  }

  &__right {
    width: 125px;
    height: auto;
  }

  &__burger {
    display: none;
    height: 4rem;
    width: 4rem;
    background-color: var(--color-text-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger__btn {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger__line {
    display: inline-block;
    width: 2rem;
    height: 2px;
    background-color: var(--color-text-primary);
    position: relative;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      display: inline-block;
      background-color: var(--color-text-primary);
    }

    &::before {
      top: -5px;
    }

    &::after {
      bottom: -5px;
    }
  }
}
