.about {
  &__img-box {
    width: 25vw;
    aspect-ratio: 3 / 4;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--shadow-lg);
    opacity: 0;
    transition: all 0.8s;
    position: fixed;
    left: 10vw;
    transform: rotateY(180deg);
    backface-visibility: hidden;

    @include respond(tablet-landscape) {
      left: 10vw;
      width: 25vw;
    }

    @include respond(tablet) {
      width: 35vw;
      position: relative;
      align-self: center;
      left: auto;
      margin-bottom: 4.8rem;
      opacity: 1;
      transform: none;
    }

    @include respond(phone-lg) {
      width: 50vw;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    padding: 3.2rem;
    border-radius: 8px;
    box-shadow: var(--shadow-lg);
    border: 2px solid var(--color-text-white);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
    grid-column: 2;

    .heading--secondary {
      margin-bottom: 2.4rem;
    }

    br {
      display: block;
      margin: 1.6rem 0;
    }
  }

  &__text {
    margin-top: 1.6rem;
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--color-text-light);
    line-height: 1.6;
    white-space: pre-line;

    @include respond(tablet-landscape) {
      font-size: 1.6rem;
      margin-top: 0;
    }

    @include respond(phone-lg) {
      white-space: normal;
    }
  }

  &__signature {
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: 0;
    font-weight: 500;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    grid-column: 2;
  }

  &__flex--col {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border-radius: 8px;
    padding: 3.2rem;
    box-shadow: var(--shadow-lg);
    border: 2px solid var(--color-text-white);
  }

  &__skills-container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    @include respond(phone-lg) {
      gap: 2.4rem;
    }
  }

  &__skill {
    width: 4.8rem;
    display: block;
    position: relative;

    @include respond(phone-lg) {
      width: 3.2rem;
    }

    &::after {
      content: "";
      font-size: 1.4rem;
      width: max-content;
      color: var(--color-text-primary);
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, 0);
      transition: all 0.3s;
      z-index: -1;
    }

    &:hover::after {
      opacity: 1;
      top: 105%;
    }

    img {
      width: 100%;
      filter: grayscale(100%) brightness(1.5);
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        filter: none;
      }
    }
  }

  &__hobbies-container {
    display: flex;
    gap: 4.8rem;

    @include respond(phone-lg) {
      gap: 2.4rem;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__hobby {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;

    svg {
      width: 4rem;
      height: 4rem;

      @include respond(phone-lg) {
        width: 3rem;
        height: 3rem;
      }
    }

    &-name {
      font-size: 1.4rem;
    }

    &:hover {
      svg {
        animation: jiggle 0.3s;
      }
    }
  }
}

/* .about element does not EXIST */
.skill__box {
  display: grid;
  grid-template-columns: 16rem 1fr;
  column-gap: 2.4rem;
  align-items: center;

  @include respond(tablet-landscape) {
    grid-template-columns: 12rem 1fr;
  }
}

.skill__name {
  font-size: 2.4rem;
  font-weight: 300;

  @include respond(laptop-sm) {
    font-size: 2rem;
  }

  @include respond(tablet-landscape) {
    font-size: 1.8rem;
  }

  @include respond(phone-lg) {
    font-size: 1.6rem;
  }
}

.skills {
  display: flex;
  align-items: center;
  gap: 4.8rem;

  @include respond(phone-lg) {
    gap: 2.4rem;
  }
}

.autocad::after {
  content: "Autocad";
}

.archicad::after {
  content: "Archicad";
}

.sketchup::after {
  content: "Sketchup";
}

.illustrator::after {
  content: "Illustrator";
}

.photoshop::after {
  content: "Photoshop";
}

.indesign::after {
  content: "Indesign";
}

.lumion::after {
  content: "Lumion";
}

.twinmotion::after {
  content: "Twinmotion";
}

#skills,
#hobbies {
  opacity: 0;
  transition: opacity 0.8s;
}

#hobbies {
  transition-delay: 0.8s;
}
