.portfolio {
  height: 40rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("../assets/images/portfolio-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  color: var(--color-text-white);

  &__text {
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.6rem;
    color: var(--color-border-light);
    font-weight: 300;

    @include respond(phone-lg) {
      font-size: 1.6rem;
    }
  }

  &__btn {
    &:link,
    &:visited {
      @include format-anchors;
      font-size: 2rem;
      padding: 1.6rem 2.4rem;
      border: 2px solid var(--color-text-white);
      background-color: rgba(255, 255, 255, 0.2);
      transition: all 0.3s;
      font-weight: 500;

      @include respond(tablet-landscape) {
        font-size: 1.8rem;
      }
    }

    &:hover,
    &:active {
      background-color: rgba(255, 255, 255, 0.3);
      padding: 1.6rem 3.2rem;
    }
  }
}
