*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(laptop-md) {
    font-size: 56.25%;
  }

  @include respond(phone-lg) {
    font-size: 50%;
  }
}

body {
  font-weight: 400;
  line-height: 1;
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.main {
  position: relative;
}

.main > * {
  scroll-margin: 96px;
}
