.section--hero {
  height: 140vh;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../assets/images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section--about {
  margin: 9.6rem 0;
  padding: 0 3.2rem;
  position: relative;
}

.section--projects {
  padding: 0 4.8rem;
  margin: 9.6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 6.4rem;

  & .heading--secondary {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 3.2rem;
  }
}

.section--contact {
  height: 30rem;
  background-color: var(--color-text-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
