.header.header--show {
  transform: translateY(0);
  opacity: 1;

  .header__burger {
    display: none;
    @include respond(phone-lg) {
      display: block;
    }
  }
}

.header__nav.nav-show {
  width: 35vw;
  opacity: 1;
  visibility: visible;
  pointer-events: all;

  & .nav__list {
    display: flex;
  }
}

.hero-container.hero-container--stay {
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none !important;
}

.about__img-box.show {
  opacity: 1;
  transform: rotateY(0);
  bottom: 80px;

  @include respond(tablet) {
    opacity: 1;
    transform: none;
    bottom: unset;
  }
}

.about__img-box.stay {
  position: absolute;
  bottom: 0;

  @include respond(tablet) {
    position: relative;
    bottom: unset;
  }
}

.about__content.show {
  opacity: 1;
}

.about__details.show > #skills,
.about__details.show > #hobbies {
  opacity: 1;
}
