:root {
  --color-text-primary: #212529;
  --color-text-hover: #868e96;
  --color-text-light: #495057;
  --color-text-white: #f8f9fa;

  --color-white-transparent: rgba(255, 255, 255, 0.9);

  --shadow-sm: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}
